.App {
    text-align: center;
  }
  
  /* .login-container {
    background-color: #282c34;
    color: white;
  
    user-select: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  } */
  .login-input-container {
    background-color: white;
  
    width: 450px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-input {
    display: flex;
    flex-direction: column;
  }
  .login-input-text {
    color: #282c34;
  
    margin-bottom: 15px;
    margin-top: -20px;
    font-size: 32px;
    font-weight: bold;
  }
  .login-id, .login-pw {
    background-color:rgb(231, 231, 231);
  
    font-size: 15px;
    width: 300px;
    height: 40px;
    margin-top: 15px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    /* transition: outline 0.5s ease; /
  }
  .login-input :focus {
    outline: none;
    / outline: 1px solid black; */
  }
  .remeber-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .remeber-container input {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
  .remeber-container div {
    font-size: 13px;
    color: black;
  }
  .login-button, .join-button{
    background-color: #282c34;
    color: rgb(241, 241, 241);
  
    font-size: 19px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    transition: font-size 0.2s ease;
  }
  
  .login-button:hover, .join-button:hover {
    font-size: 20px;
  }