.App {
    box-sizing: border-box;
  }
  
  
  .container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #9198e5, #a2ebff); */
    /* background: transparent; */
    /* background: #e0f7f7; */
    background: #f4f4f4;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 중간에 */
  }
  
  
  .todo-app{
    width: 100%;
    max-width: 1200px;
    min-height: 700px;
    /* background:  whitesmoke; */
    background: #2f3444;
    margin: 20px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border-radius: 10px;
  
  }
  
  
  .calendar-container{
  
    width: 55%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 세로 기준으로 양쪽 정렬*/
    border-radius: 5px;
    background: #fff;
    color: #2f3444;
    box-shadow: 10px 10px 10px 2px rgba(190, 196, 253, 0.2); /* 그림자 크기 위치 흐릿함 흐릿함크기*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  
  }
  
  
  /*******************************/
  /* src/Calendar.css */
  .calendar {
  
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: #0056b3;
  }
  
  .days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .day-name {
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }
  
  .days {
    display: flex;
    flex-direction: column;
  }
  
  .week {
    display: flex;
    
  }
  
  .day, .empty-day {
    flex: 1 0 14%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    /* border-right: 0.5px solid #2f3444; */
    
  }
  
  .empty-day {
    visibility: hidden;
  }
  
  .day {
    cursor: pointer;
    border: 1px solid #ddd;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  
  .day:hover {
    background-color: #f0f0f0;
  }
  
  .today-btn{
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    background: rgba(130, 158, 251, 0.46);
  }


  
  
  
  .task-container{
    width: 50%;
    /* height: 100%; */
    /* display: flex; */
    border-radius: 5px;
    /* background: #fff; */
    margin-left: 25px;
    color: #e7e7e7c0;
  }
  
  .selected-date{
    color: whitesmoke;
    text-shadow: 0px 0px 9px rgb(77, 104, 255);
  }
  
  .taskList{
    color: #e7e7e7c0;
    margin-top: 30px;
    font-size: 18px;
  }
  
  .task{
    display: flex;
    border-bottom: 1px solid #829efb75;
    padding: 5px;
    margin-bottom: 20px;
  }

  .task input{
    background: transparent;
    color: #e7e7e7c0;
    border: none;
    font-size: 18px;
    margin-left: 10px;

  }

  .faCircle{
    color: rgb(130 158 251 / 70%);
  }
  
  .faChevronLeft :hover{
    cursor: pointer;
    color: rgb(130 158 251 / 90%);
  }

  .faXmark :hover{
    cursor: pointer;
    color: rgb(130 158 251 / 90%);
  }

  .faPen :hover{
    cursor: pointer;
    color: rgb(130 158 251 / 90%);
  }

  .faChevronRight :hover{
    cursor: pointer;
    color: rgb(130 158 251 / 90%);
  }

  .faCirclePlus{
    font-size: 3em;
    color: rgba(122, 152, 249, 0.613);
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
  }

  .faCirclePlus :hover{
    cursor: pointer;
    color: rgb(130 158 251 / 90%);
  }


  .AddTask{
    font-size: 18px;
  }

  .AddTask input{

    width: 300px;
    height: 30px;
    border: none;
    background: transparent;
    color: #e7e7e7c0;
    font-size: 18px;
    font-size: 18px;

    border-bottom: 1px solid rgba(122, 152, 249, 0.613);;
}

  .AddTask button{

      cursor: pointer;
      /* width: 150px; */
      padding: 5px 25px;
      height: 30px;
      border: none;
      border-radius: 6px;
      margin-bottom: 5px;
      background: rgba(130, 158, 251, 0.46);
      color: #ffffff;
      font-size: 15px;
  }

  .AddTask select, option{
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 10px;
    color: #e7e7e7c0;
    font-size: 17px;
    background: rgba(130, 158, 251, 0.46);
    border-radius: 5px;
  }

  .AddTask option{
    background: rgba(60, 81, 152, 0.541);

  }

  .menu {
    position: absolute;
    bottom: 80px;
    right: 50px;
    /* transition: transform 0.3s ease-in-out; */
    display: grid;
    /* grid-template-columns: 200px 200px; */
    color: #2f3444;
    border-right: 3px solid rgb(130, 158, 251);
    align-items: center
  }

  .menu span{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  

  .category{
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #829efb75;
    font-size: 18px;
  }


  .AddCategory input{

    width: 300px;
    height: 30px;
    border: none;
    background: transparent;
    color: #e7e7e7c0;
    font-size: 18px;
    font-size: 18px;
    border-bottom: 1px solid rgba(122, 152, 249, 0.613);
}

.AddCategory select{
  width: 300px;
  height: 30px;
  border: none;
  padding-left: 10px;
  color: #e7e7e7c0;
  font-size: 17px;
  background: rgba(130, 158, 251, 0.46);
  border-radius: 5px;
}

.AddCategory option{
  width: 300px;
  height: 30px;
  border: none;
  padding-left: 10px;
  color: #e7e7e7c0;
  font-size: 17px;
  background: rgba(60, 81, 152, 0.541);
  border-radius: 5px;
}

  .AddCategory button{

      cursor: pointer;
      /* width: 150px; */
      padding: 5px 25px;
      height: 30px;
      border: none;
      border-radius: 6px;
      margin-bottom: 5px;
      background: rgba(130, 158, 251, 0.46);
      color: #ffffff;
      font-size: 15px;

  }