.App {
  box-sizing: border-box;
}


.container {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #9198e5, #a2ebff); */
  /* background: transparent; */
  /* background: #e0f7f7; */
  background: #f4f4f4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 중간에 */
}


.todo-app{
  width: 100%;
  max-width: 1200px;
  /* width: 1200px; */
  min-height: 700px;
  /* background:  whitesmoke; */
  background: #2f3444;
  margin: 20px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  border-radius: 10px;

}


.calendar-container{

  width: 55%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */ /* 세로 기준으로 양쪽 정렬*/
  border-radius: 5px;
  background: #fff;
  color: #9999;
  box-shadow: 10px 10px 10px 2px rgba(190, 196, 253, 0.2); /* 그림자 크기 위치 흐릿함 흐릿함크기*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

}


/*******************************/
/* src/Calendar.css */
.calendar {

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.day-name {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.days {
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  
}

.day, .empty-day {
  flex: 1 0 14%;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  
}

.empty-day {
  visibility: hidden;
}

.day {
  cursor: pointer;
}

.day:hover {
  background-color: #f0f0f0;
}






.taskList{
  width: 50%;
  /* height: 100%; */
  /* display: flex; */
  border-radius: 5px;
  /* background: #fff; */
  margin-left: 25px;
  color: #9999;
}
